*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
font-family: 'Work Sans', sans-serif;
background-color:   hsl(275, 100%, 97%);
}
.background{
    background-image: url("./assets/images/background-pattern-desktop.svg");
    width: 100%;
    height: 40vh;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    background-color: white;
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin: -100px auto;
    padding: 40px;
    box-shadow: 0px 10px 20px 5px #88888833;
    overflow: scroll;
}
h1{
 
    font-size: 3rem;
    font-weight: 700;
    color: hsl(238, 29%, 16%);
    display: flex;
    align-items: center;
    padding-bottom: 20px;

}

h2{
    font-size: 1rem;
    font-weight: 600;
    color:hsl(292, 42%, 14%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    cursor: pointer;
   
}
.box{
    box-shadow: 0px 1px 0px 0px #88888833;

}
h2:hover{
    color: #AD28EB;
    cursor: pointer;
}
img{
    cursor: pointer;
}
p{
    

}
.hide{
    display: none;

}

.show{
    display: block;
    box-shadow: 0px 1px 0px 0px #8888881b;
    padding-bottom: 20px;
    color: hsl(292, 16%, 49%);
}

@media (max-width: 375px){
    .background{
        background-image: url("./assets/images/background-pattern-mobile.svg");
    }
}
@media screen and (max-width: 375px){
    main{
        width: 90%;
        margin: -100px auto;
        padding: 20px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem;
    }
    
}